<div>

	<div class="table-responsive">
		<table class="table table-striped" ng-if="peers.length > 0">
			<thead>
				<tr>
					<th>Id</th>
					<th>Pubkey</th>
					<th>Address</th>
					<th>Alias</th>
					<th>Sat<br/>sent</th>
					<th>Sat<br/>recv</th>
					<th>Bytes<br/>sent</th>
					<th>Bytes<br/>recv</th>
					<th>Ping<br/>time</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="peer in peers">
					<td>{{ peer.peer_id }}</td>
					<td><span title="{{ peer.pub_key }}">{{ peer.pub_key | firstlast:6 }}</span> <button type="button" class="btn btn-default btn-xs" title="Copy to clipboard" aria-label="Copy to clipboard" ngclipboard data-clipboard-text="{{ peer.pub_key }}" ngclipboard-success="pubkeyCopied(peer);" uib-tooltip="Copied!" tooltip-placement="bottom" tooltip-trigger="'none'" tooltip-is-open="peer.pubkeyCopied"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button></td>
					<td>{{ peer.address }} <button type="button" class="btn btn-default btn-xs" title="Copy to clipboard" aria-label="Copy to clipboard" ngclipboard data-clipboard-text="{{ peer.address }}" ngclipboard-success="addressCopied(peer);" uib-tooltip="Copied!" tooltip-placement="bottom" tooltip-trigger="'none'" tooltip-is-open="peer.addressCopied"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button></td>
					<td>{{ peer.alias }}</td>
					<td>{{ peer.sat_sent }}</td>
					<td>{{ peer.sat_recv }}</td>
					<td>{{ peer.bytes_sent }}</td>
					<td>{{ peer.bytes_recv }}</td>
					<td>{{ peer.ping_time }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-if="peers.length == 0">
		<span>No connected peers</span>
	</div>

	<div id="listpeers-data" class="collapse">
		<pre>{{ data }}</pre>
	</div>

</div>
