<div>
	<div class="modal-header">
		<h3 class="modal-title" id="editsettings-modal-title">Edit Settings</h3>
	</div>
	<div class="modal-body" id="editsettings-modal-body">
		<div class="alert alert-warning" role="alert" ng-show="$ctrl.warning">
			<button type="button" class="close" ng-click="$ctrl.dismissAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ $ctrl.warning }}
		</div>
		<form>
			<div class="form-group">
				<label for="editsettings-autorefresh">Auto-refresh delay (in milliseconds)</label>
				<input type="numeric" class="form-control" id="editsettings-autorefresh" placeholder="auto-refresh delay" ng-model="$ctrl.values.autorefresh">
			</div>
			<div class="form-group">
				<label for="editsettings-maxlogbuffer">Log display buffer (in number of lines)</label>
				<input type="numeric" class="form-control" id="editsettings-maxlogbuffer" placeholder="maximum number of lines" ng-model="$ctrl.values.maxlogbuffer">
			</div>
			<div class="form-group">
				<label for="editsettings-logfilterpattern">Log filter pattern (reg exp)</label>
				<input type="text" class="form-control" id="editsettings-logfilterpattern" placeholder="log filter pattern" ng-model="$ctrl.values.logfilterpattern">
			</div>
			<div class="form-group">
				<label for="editsettings-lognotifypattern">Log notification pattern (reg exp)</label>
				<input type="text" class="form-control" id="editsettings-lognotifypattern" placeholder="log notification pattern" ng-model="$ctrl.values.lognotifypattern">
			</div>
			<div class="form-group">
				<label for="editsettings-invoiceexpiry">Default invoice expiry time (in seconds)</label>
				<input type="numeric" class="form-control" id="editsettings-invoiceexpiry" placeholder="expiry time in seconds" ng-model="$ctrl.values.invoiceexpiry">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Update Settings</button>
		<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
	</div>
<div>
