<div>

	<dl class="dl-horizontal" style="overflow-wrap: break-word;">
	  <dt>Node pubkey</dt>
	  <dd><span ng-show="info && info.identity_pubkey">{{ info.identity_pubkey | firstlast:12 }}</span> <button type="button" class="btn btn-default btn-xs" title="Copy to clipboard" aria-label="Copy to clipboard" ngclipboard data-clipboard-text="{{ info.identity_pubkey }}" ngclipboard-success="pubkeyCopied(info);" uib-tooltip="Copied!" tooltip-placement="bottom" tooltip-trigger="'none'" tooltip-is-open="info.pubkeyCopied"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button></dd>
	  <dt ng-if="info.alias">Alias</dt>
	  <dd ng-if="info.alias">{{ info.alias }}</dd>
	  <dt ng-if="node_uri">Node URI</dt>
	  <dd ng-if="node_uri">{{ info.identity_pubkey | firstlast:6 }}@{{ node_address }} <button type="button" class="btn btn-default btn-xs" title="Copy to clipboard" aria-label="Copy to clipboard" ngclipboard data-clipboard-text="{{ node_uri }}" ngclipboard-success="nodeuriCopied(info);" uib-tooltip="Copied!" tooltip-placement="bottom" tooltip-trigger="'none'" tooltip-is-open="info.nodeuriCopied"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
	  <button type="button" class="btn btn-default btn-xs" title="Show node URI QR Code" aria-label="Show node URI QR Code" ng-click="showQRCode(node_uri)"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span></button></dd>	  
	  <dt>Pending channels</dt>
	  <dd>{{ info.num_pending_channels }}</dd>
	  <dt>Active channels</dt>
	  <dd>{{ info.num_active_channels }}</dd>
	  <dt>Block height</dt>
	  <dd><a ng-click="openBlockInExplorerByHeight(info.block_height)" title="View block of height {{ info.block_height }} in explorer">{{ info.block_height }}</a> <button type="button" class="btn btn-default btn-xs" title="View in block explorer" aria-label="View in block explorer" ng-click="openBlockInExplorerByHeight(info.block_height)"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></button></dd>
	  <dt>Block hash</dt>
	  <dd><a ng-show="info && info.block_hash" ng-click="openBlockInExplorerByHash(info.block_hash)" title="View block {{ info.block_hash }} in explorer">{{ info.block_hash | firstlast:12 }}</a> <button type="button" class="btn btn-default btn-xs" title="Copy to clipboard" aria-label="Copy to clipboard" ngclipboard data-clipboard-text="{{ info.block_hash }}" ngclipboard-success="blockhashCopied(info);" uib-tooltip="Copied!" tooltip-placement="bottom" tooltip-trigger="'none'" tooltip-is-open="info.blockhashCopied"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
	  <button type="button" class="btn btn-default btn-xs" title="View in block explorer" aria-label="View in block explorer" ng-click="openBlockInExplorerByHash(info.block_hash)"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></button></dd>
	  <dt>Synced to chain</dt>
	  <dd>{{ info.synced_to_chain }}</dd>
	  <dt>Testnet</dt>
	  <dd>{{ info.testnet }}</dd>
	  <dt>Chains</dt>
	  <dd>{{ info.chains }}</dd>
	  <!--<dt>Web Endpoint</dt>
	  <dd>{{ endpoint }}</dd>-->
	</dl>

	<div id="getinfo-data" class="collapse">
		<pre>{{ data }}</pre>
	</div>

</div>
