<div>
	<div class="modal-header">
		<h3 class="modal-title" id="getnodeinfo-modal-title">Node info <i class="fa fa-spinner fa-spin" ng-show="$ctrl.spinner > 0"></i></h3>
	</div>
	<div class="modal-body" id="getnodeinfo-modal-body">
		<div class="alert alert-warning" role="alert" ng-show="$ctrl.warning">
			<button type="button" class="close" ng-click="$ctrl.dismissAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ $ctrl.warning }}
		</div>
		<form>
			<div class="form-group">
				<label for="getnodeinfo-pubkey">Node pub key</label>
				<input type="text" class="form-control" id="getnodeinfo-pubkey" placeholder="node public key" ng-model="$ctrl.values.pubkey">
			</div>
		</form>
		<div ng-show="$ctrl.nodeInfo">
			<pre>{{ $ctrl.nodeInfo }}</pre>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="$ctrl.getNodeInfo()">Get node info</button>
		<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Close</button>
	</div>
<div>
