<div>

	<div class="table-responsive">
		<table class="table table-striped" st-table="st_invoices" st-safe-src="invoices" ng-if="invoices.length > 0">
			<thead>
				<tr>
					<th st-sort="creation_date" st-sort-default="reverse">Created</th>
					<th st-sort="memo" width="20%">Memo</th>
					<th st-sort="value">Value</th>
					<th st-sort="settled">Settled</th>
					<th st-sort="settle_date">Settle date</th>
					<th st-sort="payment_request">Payment request</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="invoice in st_invoices">
					<td>{{ invoice.creation_date * 1000 | date:'medium' }}</td>
					<td>{{ invoice.memo }}</td>
					<td>{{ invoice.value }}</td>
					<td><span ng-hide="invoice.settled" class="fa fa-circle" title="Payment not received yet" aria-label="Payment not received yet" style="color:DarkOrange "/><span ng-show="invoice.settled" class="fa fa-circle" title="Payment received" aria-label="Payment received" style="color:lightgreen;"/></td>
					<td><span ng-hide="invoice.settle_date == 0">{{ invoice.settle_date * 1000 | date:'medium' }}</span></td>
					<td class="payreq">{{ invoice.payment_request | firstlast:20:10 }}  <button type="button" class="btn btn-default btn-xs" title="Copy to clipboard" aria-label="Copy to clipboard" ngclipboard data-clipboard-text="{{ invoice.payment_request }}" ngclipboard-success="payreqCopied(invoice);" uib-tooltip="Copied!" tooltip-placement="bottom" tooltip-trigger="'none'" tooltip-is-open="invoice.payreqCopied"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
					<button type="button" class="btn btn-default btn-xs" title="Show QR Code" aria-label="Show QR Code" ng-click="showQRCode(invoice.payment_request)"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span></button></td>
				</tr>
			</tbody>
			<tfoot ng-show="numberOfInvoices > 10">
				<tr>
					<td colspan="4" class="text-left">
						<div st-pagination="" st-items-by-page="cfg.itemsPerPage" st-displayed-pages="10"></div>
					</td>
					<td colspan="2" class="text-right">
						<span>Items per page&nbsp; </span>
						<select class="form-control itemsperpage" placeholder="Items per page" ng-model="cfg.itemsPerPage" ng-options="ps for ps in pageSizes" ng-change="pageSizeChanged()"></select>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div ng-if="invoices.length == 0">
		<span>No invoices</span>
	</div>

	<div id="listinvoices-data" class="collapse">
		<pre>{{ data }}</pre>
	</div>

</div>
