<div>

	<div class="alert alert-warning" role="alert" ng-show="warning">
		<button type="button" class="close" ng-click="dismissWarning()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ warning }}
	</div>

	<div class="table-responsive">
		<table class="table table-striped" ng-if="channels.length > 0">
			<thead>
				<tr>
					<th>Chan Id</th>		
					<th>Peer alias</th>
					<th>Remote pubkey</th>
					<th>Channel point</th>
					<th>Capacity</th>
					<th>Local<br/>balance</th>
					<th>Remote<br/>balance</th>
					<th>Sat<br/>sent</th>
					<th>Sat<br/>recv</th>
					<th>Num<br/>updates</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="channel in channels">
					<td>{{ channel.chan_id }}</td>
					<td>{{ channelPeerAlias(channel) }}</td>
					<td><span title="{{ channel.remote_pubkey }}">{{ channel.remote_pubkey | firstlast:6 }}</span> <button type="button" class="btn btn-default btn-xs" title="Copy to clipboard" aria-label="Copy to clipboard" ngclipboard data-clipboard-text="{{ channel.remote_pubkey }}" ngclipboard-success="pubkeyCopied(channel);" uib-tooltip="Copied!" tooltip-placement="bottom" tooltip-trigger="'none'" tooltip-is-open="channel.pubkeyCopied"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button></td>
					<td><span title="{{ channel.channel_point }}"><a ng-click="openChannelPointInExplorer(channel)" title="Open transaction {{ channel.channel_point }} in explorer">{{ channel.channel_point | firstlast:6:8 }}</a></span> <button type="button" class="btn btn-default btn-xs" title="Copy to clipboard" aria-label="Copy to clipboard" ngclipboard data-clipboard-text="{{ channel.channel_point }}" ngclipboard-success="chanpointCopied(channel);" uib-tooltip="Copied!" tooltip-placement="bottom" tooltip-trigger="'none'" tooltip-is-open="channel.chanpointCopied"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
						<button type="button" class="btn btn-default btn-xs" title="Open transaction {{ channel.channel_point }} in explorer" aria-label="Open transaction {{ channel.channel_point }} in explorer" ng-click="openChannelPointInExplorer(channel)"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></button></td>
					<td>{{ channel.capacity }}</td>
					<td>{{ channel.local_balance }}</td>
					<td>{{ channel.remote_balance }}</td>
					<td>{{ channel.total_satoshis_sent }}</td>
					<td>{{ channel.total_satoshis_received }}</td>
					<td>{{ channel.num_updates }}</td>
					<td>
						<div class="btn-toolbar pull-right">
							<button type="button" class="btn btn-default btn-xs" title="Close" aria-label="Close" ng-click="close(channel)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-if="channels.length == 0">
		<span>No available channels</span>
	</div>

	<div id="listchannels-data" class="collapse">
		<pre>{{ data }}</pre>
	</div>

</div>
