<div>

	<div class="table-responsive">
		<table class="table table-striped" ng-if="invoices.length > 0">
			<thead>
				<tr>
					<th>Created</th>
					<th>Memo</th>
					<th>Value</th>
					<th>Settled</th>
					<th>Settle date</th>
					<th>Payment request</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="invoice in invoices">
					<td>{{ invoice.creation_date * 1000 | date:'medium' }}</td>
					<td>{{ invoice.memo }}</td>
					<td>{{ invoice.value }}</td>
					<td>{{ invoice.settled }}</td>
					<td>{{ invoice.settle_date * 1000 | date:'medium' }}</td>
					<td class="payreq">{{ invoice.payment_request }}  <button type="button" class="btn btn-default btn-xs" title="Copy to clipboard" aria-label="Copy to clipboard" ngclipboard data-clipboard-text="{{ invoice.payment_request }}" ngclipboard-success="payreqCopied(invoice);" uib-tooltip="Copied!" tooltip-placement="bottom" tooltip-trigger="'none'" tooltip-is-open="invoice.payreqCopied"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-if="invoices.length == 0">
		<span>No invoices</span>
	</div>

	<div id="listinvoices-data" class="collapse">
		<pre>{{ data }}</pre>
	</div>

</div>
