<div>
	<div class="table-responsive">
		<table class="table table-striped" st-table="st_peers" st-safe-src="peers" ng-if="numberOfPeers > 0">
			<thead>
				<tr>
					<th class="abc-checkbox"><div class="abc-checkbox"><input type="checkbox" ng-model="form.checkbox" ng-change="selectAll(st_peers)" class="form-check-input" id="peers_checkall_{{ $id }}" /><label class="form-check-label" for="peers_checkall_{{ $id }}"></label></div></th>
					<th st-sort="pub_key">Pubkey</th>
					<th st-sort="address">Address</th>
					<th st-sort="alias">Alias</th>
					<th st-sort="lastseen" st-sort-default="reverse">Last seen</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="peer in st_peers">
					<td><div class="abc-checkbox"><input type="checkbox" ng-model="peer.selected" class="form-check-input" id="peers_check_{{ $id }}" /><label class="form-check-label" for="peers_check_{{ $id }}"></div></td>
					<td class="pubkey"><span title="{{ peer.pub_key }}">{{ peer.pub_key | firstlast:16 }}</span> <button type="button" class="btn btn-default btn-xs" title="Copy to clipboard" aria-label="Copy to clipboard" ngclipboard data-clipboard-text="{{ peer.pub_key }}" ngclipboard-success="pubkeyCopied(peer);" uib-tooltip="Copied!" tooltip-placement="bottom" tooltip-trigger="'none'" tooltip-is-open="peer.pubkeyCopied"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button></td>
					<td>{{ peer.address }} <button type="button" class="btn btn-default btn-xs" title="Copy to clipboard" aria-label="Copy to clipboard" ngclipboard data-clipboard-text="{{ peer.address }}" ngclipboard-success="addressCopied(peer);" uib-tooltip="Copied!" tooltip-placement="bottom" tooltip-trigger="'none'" tooltip-is-open="peer.addressCopied"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button></td>
					<td>{{ peer.alias }}</td>
					<td>{{ peer.lastseen | date:'short' }}</td>
					<td>
						<div class="btn-toolbar pull-right">
							<button type="button" class="btn btn-default btn-xs" title="Connect" aria-label="Connect" ng-click="connect(peer)"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
							<button type="button" class="btn btn-default btn-xs" title="Edit" aria-label="Edit" ng-click="edit(peer)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
							<button type="button" class="btn btn-default btn-xs" title="Remove" aria-label="Remove" ng-click="remove(peer)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot ng-show="numberOfPeers > 10">
				<tr>
					<td colspan="4" class="text-left">
						<div st-pagination="" st-items-by-page="cfg.itemsPerPage" st-displayed-pages="10"></div>
					</td>
					<td colspan="2" class="text-right">
						<span>Items per page&nbsp; </span>
						<select class="form-control itemsperpage" placeholder="Items per page" ng-model="cfg.itemsPerPage" ng-options="ps for ps in pageSizes" ng-change="pageSizeChanged()"></select>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div ng-if="numberOfPeers == 0">
		<span>No known peers</span>
	</div>

	<div id="listknownpeers-data" class="collapse">
		<pre>{{ data }}</pre>
	</div>

</div>
