<div>
	<div class="modal-header">
		<h3 class="modal-title" id="openchannel-modal-title">Open Channel <i class="fa fa-spinner fa-spin" ng-show="$ctrl.spinner > 0"></i></h3>
	</div>
	<div class="modal-body" id="openchannel-modal-body">
		<div class="alert alert-warning" role="alert" ng-show="$ctrl.warning">
			<button type="button" class="close" ng-click="$ctrl.dismissAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ $ctrl.warning }}
		</div>
		<form name="openchannel">
			<div class="form-group">
				<label for="openchannel-pubkey">Node pubkey</label>
				<select class="form-control" id="openchannel-pubkey" placeholder="pubkey" ng-model="$ctrl.values.pubkey" required="true">
					<option ng-repeat="peer in $ctrl.values.peers" value="{{ peer.pub_key }}">{{ peer.pub_key }} - {{ peer.custom_alias }}</option>
				</select>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : openchannel.localamt.$invalid && !openchannel.localamt.$pristine }">
				<label for="openchannel-local-amt">Local amount</label>
				<input type="number" min="0" class="form-control" id="openchannel-local-amt" name="localamt" placeholder="local amount" ng-model="$ctrl.values.localamt" required="true">
			</div>
			<div class="form-group">
				<label for="openchannel-push-amt">Push amount</label>
				<input type="number" min="0" class="form-control" id="openchannel-push-amt" placeholder="push amount" ng-model="$ctrl.values.pushamt" required="true">
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-default" title="Advanced options" aria-label="Advanced options" data-toggle="collapse" data-target="#openchannel-advanced-options">Advanced options</span></button>
			</div>
			<div id="openchannel-advanced-options" class="collapse">
				<div class="form-group">
					<label for="openchannel-target-conf">Number of confirmations</label>
					<input type="number" min="0" class="form-control" id="openchannel-target-conf" placeholder="The target number of blocks that the funding transaction should be confirmed by." ng-model="$ctrl.values.targetconf">
				</div>
				<div class="form-group">
					<label for="openchannel-remote-csv-delay">Remote CSV delay</label>
					<input type="number" min="0" class="form-control" id="openchannel-remote-csv-delay" placeholder="The delay we require on the remote's commitment transaction." ng-model="$ctrl.values.remotecsvdelay">
				</div>
				<div class="form-group abc-checkbox">
					<input type="checkbox" class="form-check-input" id="openchannel-private" ng-model="$ctrl.values.privatechan">
					<label class="form-check-label" for="openchannel-private">Private channel</label>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Open Channel</button>
		<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
	</div>
<div>
