<div>
	<div class="modal-header">
		<h3 class="modal-title" id="openchannel-modal-title">Open Channel <i class="fa fa-spinner fa-spin" ng-show="$ctrl.spinner > 0"></i></h3>
	</div>
	<div class="modal-body" id="openchannel-modal-body">
		<div class="alert alert-warning" role="alert" ng-show="$ctrl.warning">
			<button type="button" class="close" ng-click="$ctrl.dismissAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ $ctrl.warning }}
		</div>
		<form>
			<div class="form-group">
				<label for="openchannel-pubkey">Node pubkey</label>
				<!--<input type="text" class="form-control" id="openchannel-pubkey" placeholder="pubkey" ng-model="$ctrl.values.pubkey">-->
				<select class="form-control" id="openchannel-pubkey" placeholder="pubkey" ng-model="$ctrl.values.pubkey">
					<option ng-repeat="peer in $ctrl.values.peers" value="{{ peer.pub_key }}">{{ peer.pub_key }} - {{ peer.custom_alias }}</option>
				</select>
			</div>
			<div class="form-group">
				<label for="openchannel-local-amt">Local amount</label>
				<input type="numeric" class="form-control" id="openchannel-local-amt" placeholder="local amount" ng-model="$ctrl.values.localamt">
			</div>
			<div class="form-group">
				<label for="openchannel-push-amt">Push amount</label>
				<input type="numeric" class="form-control" id="openchannel-push-amt" placeholder="push amount" ng-model="$ctrl.values.pushamt">
			</div>
			<!--<div class="form-group">
				<label for="openchannel-num-conf">Number of confirmations</label>
				<input type="numeric" class="form-control" id="openchannel-num-conf" placeholder="number of confirmations required" ng-model="$ctrl.values.numconf">
			</div>-->
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Open Channel</button>
		<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
	</div>
<div>
