<div>
	<div class="modal-header">
		<h3 class="modal-title" id="qrcode-modal-title">QR Code</h3>
	</div>
	<div class="modal-body" id="qrcode-modal-body">
		<div class="alert alert-warning" role="alert" ng-show="$ctrl.warning">
			<button type="button" class="close" ng-click="$ctrl.dismissAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ $ctrl.warning }}
		</div>
		<div>
			<qrcode data="{{ $ctrl.qrcode.data }}" size="{{ $ctrl.qrcode.size }}"></qrcode>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Close</button>
	</div>
<div>
