<div>
	<div class="modal-header">
		<h3 class="modal-title" id="sendcoins-modal-title">Send Coins <i class="fa fa-spinner fa-spin" ng-show="$ctrl.spinner > 0"></i></h3>
	</div>
	<div class="modal-body" id="sendcoins-modal-body">
		<div class="alert alert-warning" role="alert" ng-show="$ctrl.warning">
			<button type="button" class="close" ng-click="$ctrl.dismissAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ $ctrl.warning }}
		</div>
		<form>
			<div class="form-group">
				<label for="sendcoins-addr">Destination address</label>
				<input type="text" class="form-control" id="sendcoins-addr" placeholder="bitcoin address" ng-model="$ctrl.values.addr">
			</div>
			<div class="form-group">
				<label for="sendcoins-amount">Amount in satoshis</label>
				<input type="text" class="form-control" id="sendcoins-amount" placeholder="amount in satoshis" ng-model="$ctrl.values.amount">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Send Coins</button>
		<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
	</div>
<div>
