<div>
	<div class="modal-header">
		<h3 class="modal-title" id="signmessage-modal-title">Sign message</h3>
	</div>
	<div class="modal-body" id="signmessage-modal-body">
		<div class="alert alert-warning" role="alert" ng-show="$ctrl.warning">
			<button type="button" class="close" ng-click="$ctrl.dismissWarning()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ $ctrl.warning }}
		</div>
		<div class="alert alert-success" role="alert" ng-show="$ctrl.success">
			<button type="button" class="close" ng-click="$ctrl.dismissSuccess()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ $ctrl.success }}
		</div>
		<form>
			<div class="form-group">
				<label for="signmessage-message">Message</label>
				<input type="text" class="form-control" id="signmessage-message" placeholder="message to sign" ng-model="$ctrl.values.message">
				</select>
			</div>
		</form>
		<div ng-show="$ctrl.signature">
			<pre>{{ $ctrl.signature }}</pre>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Sign message</button>
		<button class="btn btn-warning" type="button" ng-click="$ctrl.close()">Close</button>
	</div>
<div>
