<div>
	<div class="modal-header">
		<h3 class="modal-title" id="verifymessage-modal-title">Verify message</h3>
	</div>
	<div class="modal-body" id="verifymessage-modal-body">
		<div class="alert alert-warning" role="alert" ng-show="$ctrl.warning">
			<button type="button" class="close" ng-click="$ctrl.dismissWarning()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ $ctrl.warning }}
		</div>
		<div class="alert alert-success" role="alert" ng-show="$ctrl.success">
			<button type="button" class="close" ng-click="$ctrl.dismissSuccess()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ $ctrl.success }}
		</div>
		<form>
			<div class="form-group">
				<label for="verifymessage-message">Message</label>
				<input type="text" class="form-control" id="verifymessage-message" placeholder="message" ng-model="$ctrl.values.message">
				</select>
			</div>
			<div class="form-group">
				<label for="verifymessage-signature">Signature</label>
				<input type="text" class="form-control" id="verifymessage-signature" placeholder="signature" ng-model="$ctrl.values.signature">
				</select>
			</div>
		</form>
		<div ng-show="$ctrl.data">
			<div class="panel panel-default">
				<div class="panel-body">
					<dl class="dl-horizontal" style="overflow-wrap: break-word;margin-bottom:0;">
					  <dt>Pub key</dt>
					  <dd>{{ $ctrl.data.pubkey }}</dd>
					  <dt ng-show="$ctrl.data.custom_alias">Alias</dt>
					  <dd ng-show="$ctrl.data.custom_alias">{{ $ctrl.data.custom_alias }}</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Verify message</button>
		<button class="btn btn-warning" type="button" ng-click="$ctrl.close()">Close</button>
	</div>
<div>
